.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Container {
  position: absolute;
  width: 80%;
  min-height: 100%;
  background-color: #323141;
}

.Form-label {
  margin-right: 0.5em;
}

.App-row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.App-center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Flex {
  display: flex;
}

.Margin-10 {
  margin: 1em;
}

.App-card {
  background-color: #323141;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
